<!-- <!DOCTYPE html> 
<html>
<head>
	<title>Home</title>
	<link rel="stylesheet" type="text/css" href="../static/css/styles.css">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>

	<header>
		<div class="container">
		<div id="brandname">
			Machine Learning App with Flask
		</div>
		<h2>Spam Detector For Emails</h2>
		
	</div>
	</header>

	<div class="ml-container">

		<form action="{{ url_for('predict')}}" method="POST">
		<p>Enter Your email Here</p>
			<input type="text" name="comment"/>
		<textarea name="Emails" rows="4" cols="50"></textarea>
		<br/>

		<input type="submit" class="btn-info" value="predict">
		
	</form>		
	</div>

</body>
</html> -->


<!DOCTYPE html>
 
<html>
<title>Machine Translation APP</title>
<body>
<form action = "/translate" method= "POST">
 
    <h3> English Sentence: </h3>
 
    <th> <input name='input_text' type="text" value = " " /> </th>
 
    <p><input type = "submit" value = "submit" /></p>
 
</form>
</body>
</html>